:root {
    --white: #fff;
    --blue: #166AB5;
    --blueinactivetext: #669fd1;
    --bluedim: #00427b;
    --faleblue: #f2f9fe;
    --blueinactive: #D0E1F0;
    --salmon: #E0725E;
    --salmondim: #d24027;
    --salmoninactive: #FFE1DB;
    --salmoninactivetext: #FCB1A3;
    --textnavlink: #7c7c7c;
    --textdefault: #333;
}
/* common */
.container {
    max-width: 996px;
}
.d-tablet {
    display: none!important;
}
a {
    text-decoration: none;
}
/* form common */
.col-form-label {
    font-size: 90%;
    font-weight: 500;
    opacity: .65;
}
.form-check-input:checked {
    background-color: var(--blue);
    border-color: var(--blue);
}
.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem var(--blueinactive);
}
.form-control:focus {
    border-color: var(--blueinactivetext);
    box-shadow: 0 0 0 0.25rem var(--blueinactive);
}
/* layout common */
.bg-content {
    background-color: var(--faleblue);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 1.5rem;
}
/* nav */
.brand {
    display: flex;
    align-items: center;
}
.brand-badge {
    font-weight: 500;
    font-size: 1rem;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: .5rem 1rem;
    background-color: var(--salmon);
    color: var(--white);
    margin-left: .5rem;
}
.brand-text {
    font-size: 2rem;
    font-weight: 700;
    margin-left: .5rem;
}

/* buttons */
.bttn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.625rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    -o-border-radius: 0.625rem;
}
.btn-area {
    padding-left:3rem;
    padding-right: 3rem;
}
.default-btn {
    width: 100%;
    appearance: none;
    border-style: solid;
    padding: 1rem 2rem;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.default-btn:not(:first-of-type) {
    margin-top: 15px;
}
.default-btn:hover {
    box-shadow: 0 3px 20px rgba(0, 0, 0, .5);
}

.default-btn.solid-salmon {
    background-color: var(--salmon);
    border-color: var(--salmon);
    color: var(--white);
}
.default-btn.outline-salmon {
    background-color: var(--white);
    border-color: var(--salmon);
    color:  var(--salmon);
}
.default-btn:hover.solid-salmon,
.default-btn:hover.outline-salmon {
    box-shadow: 0 3px 20px rgba(224, 114, 94, 1);
}
.default-btn.solid-blue {
    background-color: var(--blue);
    border-color: var(--blue);
    color: var(--white);
}
.default-btn.outline-blue {
    background-color: var(--white);
    border-color: var(--blue);
    color:  var(--blue);
}
.default-btn:hover.solid-blue,
.default-btn:hover.outline-blue {
    box-shadow: 0 3px 20px rgba(28, 55, 122, .7);
}
/* greeting */
.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.greeting-text {
    font-size: 1.4rem;
    font-weight: 500;
}
.greeting-btn {
    background-color: var(--salmon);
    color: var(--white);
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all .25s;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
}
.greeting-btn:hover {
    background-color: var(--blue);
    color: var(--white);
}

/* section common */
.section {
    margin-top: 3rem;
}
.section-title {
    display: flex;
}

.section-title-text {
    font-weight: 500;
    font-size: 1.2rem;
    padding-left: .25rem;
}
.section-title-icon {
    margin-left: auto;
    padding-right: .25rem;
    color: var(--salmon);
}
/* swiper common */
.swiper-wrapper {
    /* swiper pagination外に出す */
    padding-bottom: 40px;
}
/* list */
.section-item-wrap {
    display: flex;
}
.section-item-wrap:not(:first-child) {
    margin-top: 10px;
}
.item-content {
    background-color: var(--faleblue);
    padding: 1rem;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
    flex-grow: 3;
}
.item-content i {
    color: var(--blue);
}
.section-item {
    margin-top: 1rem;
}
.item-date {
    display: block;
    font-size: 1.2rem;
}
.item-time, 
.item-counselor {
    display: inline;
}
/* section カウンセリング待ち */
.item-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    flex-basis: 20%;
}
.item-btn.start {
    background-color: var(--salmon);
    color: var(--white);
}
.item-btn.start:hover {
    background-color: var(--salmondim);
}
.item-btn.beforestart {
    background-color: var(--salmoninactive);
    color: var(--salmoninactivetext);
}
.item-btn.edit {
    background-color: var(--blue);
    color: var(--white);
}
.item-btn.edit:hover {
    background-color: var(--bluedim);
}
.item-btn.detail {
    background-color: var(--textnavlink);
    color: var(--white);
}
.item-btn.detail:hover {
    background-color: var(--textdefault);
}

/* section お知らせ */
.section-news {
    width: 100%;
    margin-top: 1rem;
}
a.item-link,
a.news-link {
    display: block;
    color: var(--textdefault);
}
a.item-link .item-content,
a.item-link .item-content i,
a.news-link .news-content {
    transition: all .25s;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
}
a.item-link:hover .item-content,
a.item-link:hover .item-content i,
a.news-link:hover .news-content {
    background-color: var(--salmon);
    color: var(--white);
}
a.news-link:not(:first-of-type) {
    margin-top: .5rem;
}
.news-content {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 100%;
    padding: .5rem 1rem;
}
.news-content {
    background-color: var(--faleblue);
}
.news-content.news-important {
    background-color: var(--salmoninactive);
}
.news-content.news-important i {
    color: var(--salmondim);
}
.news-date {
    opacity: .5;
    font-size: .8rem;
}

/* section 広告 */
.section-ad {
    max-width: 200px;
    margin-top: 1rem;
}
.ad-content {
    background-color: var(--faleblue);
    padding: .75rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
}
.ad-title {
    font-weight: 500;
    font-size: .9rem;
}
.ad-percent {
    color: var(--salmon);
    font-size: 2.4rem;
}
.ad-percent span {
    font-size: .8rem;
}
.ad-subtitle {
    opacity: .5;
    font-size: .8rem;
}
/* cancel detail 予約キャンセル詳細ページ */
.table.th-30 th {
    width: 30%;
}